<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>NASA Picture of the day</ion-card-subtitle>
      <ion-item>
        <ion-card-title>{{apodTitle}}</ion-card-title>
        <ion-toggle (ionChange)="hdSwitch($event)" ></ion-toggle>
        <ion-label>{{apodSwitch}}</ion-label>
      </ion-item>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-list [virtualScroll]="items">
        <ion-item>
          <ion-img [src]="apodUrl"></ion-img>
        </ion-item>
      </ion-list>
      
      {{apodExplanation}}
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      {{apodDate}}
    </ion-card-content>
  </ion-card>
  
</ion-content>
