<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    
  </ion-card-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Estate Price</ion-card-title>
      <ion-card-subtitle>go on hemnet to estimate final price</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        
        <ion-input type="url" value="hemnet link"></ion-input>
      </ion-item>
      <ion-button shape="round">Round Button</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
